<span>{{content.field_banner_seguros}}</span>
<div class="container-principais-noticias py-5">
  <div class="container">
    <div class="row">

<div class="titulu mt-5 w-100">
			<h2 class="title font-weight-normal">
				Encontre o seguro que você precisa
				<span class="title-head mt-3">Confira as soluções que <b>A MUNDIAL SEGUROS</b> tem para si e a sua empresa</span>
			</h2>
		</div>

      <div id="noticiasCarousel" class="carousel slide w-100 carousel-noticias-principais" data-ride="carousel" data-interval="0">
        <div class="carousel-inner row">
        
          {% if rows %}
           {{rows}}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
</script>