<div class="col-lg-4 col-md-6 border text-center">
    <div class="field_img_card_connosco mb-2"><img src="{{content.field_img_card_connosco.0}}">
        <span class="field_titulo_conosco">{{content.field_titulo_conosco}}</span>
        <span class="field_descricao_texto mt-3">{{content.field_descricao_texto}}</span>
        <span class="field_button_connosco">{{content.field_button_connosco}}</span>
    </div>
</div>

<style>
    .card {
        border: 2px solid #cdcccc;
    }

    .field_img_card_connosco.mb-2 {
        background-color: #d0e0e9;
        height: 414px;
        width: 278px;
    }

    .field.field--name-field-titulo-conosco.field--type-string.field--label-hidden.field__item {
        font-size: 22px;
        color: #000;
        font-weight: 500;
        margin-top: 20px;
    }

    span.field_texto_card_connosco.mb-4 {
        color: #000;
        font-size: 14px;
    }

    .col-lg-4.border {
        background: #fff;
        padding: 50px;
        margin-top: 25px;
        border: none !important;
        margin-right: -50px;
    }

    .field_img_card_connosco img {
        width: 100%;
        height: 220px;
    }

    span.field_descricao_texto {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
    }


    .field.field--name-field-button-connosco.field--type-link.field--label-hidden.field__item {
        background: #009acb;
        color: #fff !important;
        font-size: 20px;
        border-radius: 3px;
        border: none;
        width: 116px;
        bottom: -35px;
        text-align: center;
        position: relative;
        left: 30%;
    }

    h3.field_button_connosco {
        margin-top: 40px;
        font-size: 28px;
        font-weight: 500;
    }

    .field.field--name-field-button-connosco.field--type-link.field--label-hidden.field__item a {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }

    .border {
        border: 1px solid #cdcccc !important;
    }

    span.field_field_simular_link a {
        font-weight: 600;
        text-decoration: none;
        color: #2c4c9c;
        position: absolute;
        top: 131px;
        left: 88px;
    }

    @media (min-width: 375px)and (max-width: 735.99px) {
        .field_botao_banner_tb,.text-right {
          font-size: 17px;
            /*margin-top: 0px !important;*/
            border-radius: 4px;
            background-color: transparent;
            border: 2px solid;
            width: 147px;
            height: 40px;
            /*margin-left: 76px;*/
            margin: auto !important;
        }
    }
    @media (max-width: 768px) {
        h3.field_button_connosco {
            font-size: 22px;
        }

        .container-fluid.bg-danger.conheca {
            height: 200px !important;
        }

        .field_botao_banner_tb.text-right {
            font-size: 20px;
            width: 0;
        }

        .col-lg-4.border {
            padding: 33px;
            margin-top: 36px;
        }

        .field_img_card_connosco.mb-2 {
            width: 320px;
            margin-bottom: -24px !important;
        }

        h3.field_button_connosco {
            font-size: 26px !important;
        }

        .field_botao_banner_tb.text-right {
            margin-left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .service-banner {
            padding: 15px;
        }

        .container.ver-vaga {
            margin-bottom: 70px;
        }
    }

    @media (min-width: 767px) and (max-width: 991.98px) {
        h3.field_button_connosco {
            margin-top: 22px;
        }

        .col-lg-4.border {
            margin-right: 0px;
        }

        .container-fluid.bg-danger.conheca {
            height: 143px !important;
        }

        .field_botao_banner_tb.text-right {
            margin-top: 48px;
        }
    }
</style>
