<!-- Start About Banner Section the guy -->
<span class="field_banner_trabalhe_connosco mb-4">{{content.field_banner_trabalhe_connosco}}</span>
<div class="container-fluid fundo">
  <div class="container ver-vaga">
    <div class="row">
      {{content.field_connosco_paragraph}}
    </div>
  </div>
</div>
<div class="container-fluid bg-danger conheca">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <h3 class="field_button_connosco">{{content.field_texto_banner_tb}}</h3>
      </div>
      <div class="col-md-4">
        <button class="field_botao_banner_tb text-right">{{content.field_botao_bannertb}}</button>
      </div>
    </div>
  </div>

</div>
<style>
.container-fluid.bg-danger.conheca {
    height: 112px;
    background-color: #009acb!important;
    color: #fff;
}
h3.field_button_connosco {
    margin-top: 42px;
    font-size: 28px;
    font-weight: 500;
}
.field_botao_banner_tb.text-right {
  font-size: 17px;
    margin-top: 38px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid;
    width: 147px;
    height: 40px;
    margin-left: 76px;
}
button.field_botao_banner_tb.text-right a {
    color: #fff;
    padding: 15px;
    /* list-style: none; */
    text-decoration: none;
}

</style>